#about-me {
    margin-top: 70px;
    /* margin-bottom: 70px; */
}

#about-me h2 {
    font-family: 'Inter', sans-serif;
    color: #F8AFC0;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 50px;
}

#about-me p {
    color: #FFF;
    text-align: justify;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 144.017%;
}