/* ----------- Footer --------------- */

footer {
    background-color: #180323;
    padding-bottom: 24px;
}

footer h2 {
    text-align: center;
    padding-top: 50px;
    padding: 24px;
    font-size: 25px;
    color: white;
    font-weight: 600;
}

#contact {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-top: 1px solid #5D5D5D;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* @media screen and (min-width: 456px) {
    #contact {
        justify-content: center;
    }
} */


#contact div {
    display: flex;
    color: white;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

footer span {
    color: white;
    font-size: 17px;
}

#footer-picto-reseaux-sociaux {
    display: flex;
    flex-direction: row;
    gap: 11px;
    justify-content: flex-end;
    padding-top: 10px;
    padding-bottom: 10px;
}