/* #experience {
    margin-top: 70px;
    margin-bottom: 70px;
} */

#cercle-shadow-purple-experience {
    position: absolute;
    border-radius: 585px;
    background: #542897; 
    width: 585px;
    height: 585px;
    bottom: 600px;
    left: 191px;
    filter: blur(182px);
    overflow: hidden;
    z-index: -1;
}

@media screen and (min-width: 630px) and (max-width: 768px) {
    #cercle-shadow-purple-experience {
        left: 400px;
        bottom: -100px;
    }
}

@media screen and (min-width: 1024px) {
    #cercle-shadow-purple-experience {
        left: 240px;
        bottom: 500px;
    }
}

@media screen and (min-width: 1200px) {
    #cercle-shadow-purple-experience {
        left: 800px;
        bottom: -200px;
    }
}

@media screen and (min-width: 1440px) {
    #cercle-shadow-purple-experience {
        left: 1100px;
        bottom: -200px;
    }
}

#experience h2 {
    font-family: 'Inter', sans-serif;
    color: #F8AFC0;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 50px;
    margin-top: 100px;
}

@media screen and (min-width: 992px) {
    #experience h2 {
            text-align: center;
        }
}

.liste-experience {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

/* ----- Mise en forme des containers pour les écrans de téléphone ----- */

.container-experience {
    flex: 1;
    min-width: 100%;
    max-width: 100%;
    background-color: #180323;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 16px;
    border-radius: 10px;
}

@media screen and (min-width: 992px) {
    .container-experience {
        min-width: 45%;
        max-width: 45%;
    }
}

@media screen and (min-width: 1200px) {
    .container-experience {
        min-width: 30%;
        max-width: 30%;
    }
}

.container-experience span {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.container-experience h3 {
    color: #FF2D87;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}

.container-experience div:nth-child(3) {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
}

.container-experience p {
    color: #FFF;
    font-size: 15px;
    font-weight: 400;
}

.container-experience button {
    margin-top: 27px;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    /* background: linear-gradient(90deg, #FD695D 0%, #FF2D87 100%); */
    color: white;
    font-size: 12px;
    width: 150px;
    height: 45px;
    font-weight: 600;
    text-decoration: none;
    font-family: 'Montserrat', 'sans-serif';
    border: 1px solid #FF2D87;
}

.container-experience button svg {
    fill: none;
}
