* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h2 {
    font-family: 'Inter', sans-serif;
    color: #F8AFC0;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

h3 {
    font-family: 'Inter', sans-serif;
}

main {
    position: relative;
    overflow: hidden;
    margin-top: 77px;
}

/* ----- Section Accueil ------ */

#accueil {
    position: relative;
    font-family: 'Inter', 'sans-serif';
    width: 100%;
    /* height: 80vh; */
}

/* Ombre lumineuse rose et violette arrière plan d'accueil */
#cercle-shadow-purple-accueil {
    position: absolute;
    border-radius: 585px;
    background: #542897;
    width: 585px;
    height: 585px;
    top: -200px;
    left: 250px;
    filter: blur(150px);
    overflow: hidden;
    z-index: -1; 
}

#cercle-shadow-pink-accueil {
    position: absolute;
    border-radius: 585px;
    background: #B43B85;
    width: 585px;
    height: 585px;
    top: 400px;
    right: 330px;
    filter: blur(182px);
    overflow: hidden;
    z-index: -1;
}

@media screen and (min-width: 768px) {
    #cercle-shadow-purple-accueil {
        top: -300px;
        left: 400px;
    }

    #cercle-shadow-pink-accueil {
        top: 450px;
        left: -300px;
    }
}

@media screen and (min-width: 992px) {
    #cercle-shadow-purple-accueil {
        top: -300px;
        left: 550px;
    }

    #cercle-shadow-pink-accueil {
        top: 450px;
        left: -300px;
    }
}

@media screen and (min-width: 1200px) {
    #cercle-shadow-purple-accueil {
        top: -300px;
        left: 1000px;
    }

    #cercle-shadow-pink-accueil {
        top: 450px;
        left: -300px;
    }
}

#image-fusee-petit-ecran {
    position: absolute;
    bottom: -40px;
    right: 20px;
    z-index: -1;
}

@media screen and (min-width: 768px) {
    #image-fusee-petit-ecran {
        bottom: 30px;
        right: 50px;
    }
} 

@media screen and (max-width: 992px) {
    #image-fusee-ecran-desktop {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    #image-fusee-petit-ecran {
        display: none;
    }
}


#photo-oceane {
    border-radius: 50%;
    margin-bottom: 24px;
}

/* Titre h1 */
@media screen and (max-width: 389px) {
    #accueil h1 {
        font-size: 22px;
    }

    #accueil h3 {
        font-size: 15px;
    }
}

@media only screen and (min-width: 390px) and (max-width: 568px) {
    #accueil h1 {
        font-size: 25px;
    }

    #accueil h3 {
        font-size: 18px;
    }
}

#accueil span {
    color: #F8AFC0;
}

#btn-telecharger-cv {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    border: none;
    font-weight: 500;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: linear-gradient(90deg, #FD6460 2.96%, #FF3481 102.96%);
    font-family: 'Inter', 'sans-serif';
    width: 230px;
    height: 50px;
    text-decoration: none;
}

#btn-telecharger-cv span {
    font-size: 17px;
}