html {
    scroll-behavior: smooth;
}

/* Menu mobile */

header {
    width: 100%;
    height: 77px;
    background-color: #000000b3;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    overflow: hidden;
    z-index: 100;
}

.navbar-mobile {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-mobile .burger {
    z-index: 100;
    object-fit: cover;
    width: 40px;
}

/* Taille du picto menu-burger qui se modifie au click*/
.navbar-mobile .burger:active {
    scale:0.90;
}

/*Fenetre modale au click*/
.modal-nav {
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100vh;

    position: fixed;
    top:0%;
    left:100%;
    transition: left 1s;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/*CSS à afficher lors du click sur burger (JS)*/
.modal-nav.show-modal{
    left: 0%;
}

.modal-nav a{
    font-size: 22px;
    font-family: 'Montserrat', 'sans-serif';
    color: #FF3184;
    text-decoration: none;
    font-weight: 500;
}

/* Pictogramme menu-burger*/
.burger {
    height: 12%;
    width: 12%;
    transform: rotate(0deg);
}